
<!DOCTYPE HTML>
<html>
<head>
    <title>게시판</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

 <div class ="text-right col-m-6">
        {{#user}}
           <span class = "mx-3">{{user}}님 안녕하세요!</span>
            <a href="/logout" class = "btn btn-danger">로그아웃</a>
            <a href="/" class="btn btn-info bi bi-gear">HOME</a>
            {{/user}}
        {{^user}}
            <a href="/auth/login" role="button" class="btn btn-success bi bi-person-circle">로그인</a>
            <a href="/auth/join" role="button" class="btn btn-info">회원가입</a>
            {{/user}}
    </div>
</head>
<body>
