{{>layout/header}}

<h1>게시글 수정</h1>
<br>
<div class = "col-mx-12">
    {{#posts}}
    <div class = "col-md-4">
        <form class = "container" method="post" action="/posts/update/{{id}}" modelAttribute ="userDto">
            <input type="hidden" name="_method" value="put">

            <div class="form-group">
                <label for="id" class="font-weight-bold">글 번호</label>
                <input name="id" type="text" class = "form-control"
                       id="id" value="{{id}}" readonly>
            </div>
            <div class="form-group">
                <label for="title" class="font-weight-bold">제목</label>
                <input name="title" type="text" class="form-control"
                       value = "{{#requestDto}}{{requestDto.title}}{{/requestDto}}" id="article-title" placeholder="수정할 제목명">
                {{#valid_title}}<span class="mx-3 text-danger">양식에 맞게 타이틀을 적어주세요.(1자 이상~30자 이하)</span>{{/valid_title}}

            </div>
            <div class="form-group">
                <label for = "author" class="font-weight-bold">작성자</label>
                <input name="author" type="text" class="form-control" id="author" value="{{author}}" readonly>
            </div>
            <div class = "form-group">
                <label for="contents" class="font-weight-bold">내용</label>
             <textarea class="form-control" name="contents" placeholder="수정할 내용">{{#requestDto}}{{requestDto.contents}}{{/requestDto}}</textarea>
                {{#valid_contents}}<span class="mx-3 text-danger">양식에 맞게 내용을 적어주세요</span>{{/valid_contents}}

            </div>

            <a href="/posts/{{id}}" role="button" class="btn btn-secondary">취소</a>
        <button type="submit"  class="btn btn-primary" id="btn-update">수정 완료</button>
        </form>
    </div>
    {{/posts}}
</div>



{{>layout/footer}}
